@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  background: url(weather-bg.jpg);
}

.container {
  background: transparent;
  box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: #777;
  backdrop-filter: blur(3px);
  width: 60%;
  padding: 0.5rem ;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: start;
}

.left {
  width: 50%;
  padding: 1rem 2rem;
}

.left .city {
  font-size: 3rem;
  font-weight: normal;
  font-weight: 300;
}

.left .temp {
  font-size: 2rem;
  font-weight: 500;
}

.left .desc-con {
  display: flex;
  align-items: center;
}

.left hr {
  border: 0.5px solid #b3b3b3;
  border-radius: 50%;
  margin: 10px 0;
}

.left .temp2 {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right .search {
  width: 100%;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.right .search input {
  width: 90%;
  border: none;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  padding: 7px 5px;
  font-size: 1rem;
  color: #777;
}

.right .search input:focus {
  outline: none;
  border: 2px solid #959595;
}

.right .search input::placeholder {
  opacity: 0.7;
}

.right .search .icon {
  padding: 5px;
  cursor: pointer;
  color: #777;
  position: absolute;
  right: 20%;
}

.right .right-image {
  width: 250px;
}

@media screen and (max-width: 670px) {
  .container {
    flex-direction: column;
    width: 80%;
    padding: 0.5rem;
    align-items: unset;
  }

  .left {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }

  .left .desc-con {
    justify-content: center;
  }

  .left .temp2 {
    justify-content: center;
  }

  .left .wind {
    margin: 0.7rem 0;
  }
  .right {
    order: -1;
    padding: 0;
    width: 100%;
  }

  .right .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
